@import '../../../styles/_variables';

body {
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
    flex: 1 1 auto;
    align-self: stretch;
}

.bottom-items {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.active {
  color: $fos-green;
}

.nav-title {
  margin-left: 8px;
}


.nav-icon {
  transform: scale(1.4);
}




