@import '../../../styles/_variables';

body {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


.sidenav {
  width:256px;
  border-radius: 0 10px 10px 0;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}


.top-items {
  justify-content: normal;
}

.bottom-items {
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.active {
  background-color: rgba($fos-green, 0.3);
}

.nav-title {
  margin-left: 8px;
}





