
@use '~@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!


@font-face {
    font-family: "Andes";
    src: local("Andes"), url(../assets/fonts/Andes.otf)
}

$general-typography: mat.define-typography-config(
    $font-family: "'Lato', sans-serif",
    $title: mat.define-typography-level(24px, 32px, 400, 'Andes')
);

@include mat.core($general-typography);
$default-blue: #094e95;

$fos-blue: (
    50 : #e2ebf3,
    100 : #b6cce2,
    200 : #85aace,
    300 : #5488ba,
    400 : #2f6fac,
    500 : #0a559d,
    600 : #094e95,
    700 : #07448b,
    800 : #053b81,
    900 : #032a6f,
    A100 : #9ebaff,
    A200 : #6b96ff,
    A400 : #3872ff,
    A700 : #1f60ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fos-green: (
    50 : #f9fbe6,
    100 : #eff4c0,
    200 : #e4ed97,
    300 : #d9e66d,
    400 : #d1e04d,
    500 : #c9db2e,
    600 : #c3d729,
    700 : #bcd223,
    800 : #b5cd1d,
    900 : #a9c412,
    A100 : #fdfff3,
    A200 : #f5ffc0,
    A400 : #ecff8d,
    A700 : #e8ff74,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$saamdagen-primary: mat.define-palette($fos-blue);
$saamdagen-accent: mat.define-palette($fos-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$saamdagen-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$saamdagen-theme: mat.define-light-theme($saamdagen-primary, $saamdagen-accent, $saamdagen-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($saamdagen-theme);

//Dark theme
.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat.define-palette($fos-blue);
    $dark-accent: mat.define-palette($fos-green, A400, A100, A700);
  $dark-warn: mat.define-palette(mat.$red-palette);
  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include mat.all-component-themes($dark-theme);
}