<div class="scanner-container">
  <zxing-scanner
  #scanner
  class="scanner"
  [(device)]="currentDevice"
  (scanSuccess)="onScanSuccess($event)"
  (permissionResponse)="onHasPermission($event)"
>
</zxing-scanner>
<div *ngIf="success" class="scanner-overlay__success">
  <p>Ticket werd gescand!</p>
</div>

<div *ngIf="loading" class="scanner-overlay__loading">
  <p>Scannen..</p>
</div>

<div *ngIf="failure" class="scanner-overlay__failure">
  <p>Ticket werd niet herkend, probeer opnieuw!</p>
</div>

</div>




