@import "../../../../../styles/material-theme.scss";

.scanner-container {
  position: relative;
}

.scanner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.scanner-overlay__loading {
  @extend .scanner-overlay;

  background-color: rgba($default-blue, 0.4);
}

.scanner-overlay__failure {

    @extend .scanner-overlay;
    background-color: rgba(red, 0.4);

}

.scanner-overlay__success {
    @extend .scanner-overlay;
    background-color: rgba(green, 0.4);
}
