<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="mat-title">Mijn Saamdagen</mat-card-title>
            <mat-card-subtitle>Vergeet nooit meer voor welke workshop en activiteit je ingeschreven bent!
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="container">
            <ng-container *ngIf="ticket">
                <p>Voornaam: {{ticket.firstName}}</p>
                <p>Familienaam: {{ticket.lastName}}</p>
                <p>Eerste activiteit: {{ticket.firstActivity}}</p>
                <p>Tweede activiteit: {{ticket.secondActivity}}</p>
            </ng-container>
            <ng-container *ngIf="!ticket">
                <div class="no-ticket-container">
                    <p class="mat-caption center">Scan je ticket om je workshops en activiteiten hier te zien.</p>
                    <p class="mat-caption center">Opgelet: voor deze functie heb je een werkende internetconnectie
                        nodig.</p>
                    <a routerLink="scan" class="scan-button" mat-raised-button color="primary">Scan je ticket</a>
                </div>

            </ng-container>
        </mat-card-content>

    </mat-card>
</div>