.container {
    display: flex;
    border-radius: 0;
    padding: 12px;
    box-sizing: border-box;
}

.icon {
    align-self: center;
    height: 100%;
    margin-right: 16px;
}

.title {
    margin-top: 0;
    margin-bottom: 4px;
}

.text-content {
    grid-column: 2 ;
}

.time {
    margin-top: 0px;
    margin-bottom: 0;
    grid-column: 1;
}

.border {
    border-width: 2px;
    border-style: solid;
}