<div class="container border" [style.background-color]="scheduleItem.color.backgroundColor"
[style.border-color]="scheduleItem.color.borderColor ? scheduleItem.color.borderColor : scheduleItem.color.backgroundColor"
>
    <mat-icon class="icon">home</mat-icon>
    <div class="text-content">
        <h4 class="title">{{scheduleItem.title}}</h4>
        <p class="time">{{scheduleItem.start | date: 'HH:mm'}} 
            <span *ngIf="scheduleItem.end"> - </span>{{scheduleItem.end | date: 'HH:mm'}}</p>
    </div>
</div>